* {
  font-family: 'Noto Serif Ahom', serif;
  font-size: 20px;
}

#logo {
  height: 250px;
  width: 250px;
  box-sizing: border-box;
  background-position: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#wordInput {
  border: 5px solid gray;
  border-radius: 20px;
  margin: auto;
}

#example {
border: 5px solid gray;
border-radius: 20px;
}

#pronounce {
border: 5px solid gray;
border-radius: 20px;
}